.cursor::after {
    display: block;
    content: '';
    position: absolute;
    width: 4px;
    height: 80%;
    top: 10%;
    bottom: 0;
    margin: auto 0;
    background-color: #111827;
    animation: cursor 0.6s linear 0s 5 alternate forwards;
  }
  
  @keyframes cursor {
    0%,
    40% {
      opacity: 1;
    }
  
    60%,
    100% {
      opacity: 0;
    }
  }
